:root {
  /* BASE PALETTE */
  --amber-night-11-a: #ffcc4c;
  --amber-night-10-a: rgba(254 194 47 / 0.96);
  --amber-night-09-a: #ffc53d;
  --amber-night-08-a: rgba(253 198 77 / 0.49);
  --amber-night-12-a: rgba(255 232 187 / 1);
  --amber-night-06-a: rgba(255 185 21 / 0.29);
  --amber-night-07-a: rgba(253 194 65 / 0.37);
  --amber-night-05-a: rgba(255 164 0 / 0.23);
  --amber-night-04-a: rgba(255 153 0 / 0.18);
  --amber-night-03-a: rgba(255 167 0 / 0.11);
  --amber-night-01-a: rgba(187 17 0 / 0.01);
  --amber-night-02-a: rgba(251 166 0 / 0.05);
  --amber-night-12: #fee7ba;
  --amber-night-11: #ffcc4c;
  --amber-night-10: #f4bb2e;
  --amber-night-09: #ffc53d;
  --amber-night-08: #84692e;
  --amber-night-07: #695323;
  --amber-night-06: #554112;
  --amber-night-05: #483300;
  --amber-night-03: #2c220c;
  --amber-night-02: #1c1810;
  --amber-night-01: #13110c;
  --amber-night-04: #3b2900;
  --amber-day-12-a: rgba(51 33 1 / 0.89);
  --amber-day-11-a: #916100;
  --amber-day-10-a: #eeaa00;
  --amber-day-09-a: rgba(255 146 0 / 0.67);
  --amber-day-08-a: rgba(203 140 1 / 0.88);
  --amber-day-07-a: rgba(216 141 0 / 0.65);
  --amber-day-06-a: rgba(245 160 0 / 0.59);
  --amber-day-05-a: #ffce6a;
  --amber-day-04-a: #ffdb90;
  --amber-day-03-a: #ffe6b6;
  --amber-day-02-a: rgba(255 225 171 / 0.33);
  --amber-day-01-a: rgba(215 151 26 / 0.03);
  --amber-day-12: #48381c;
  --amber-day-11: #916100;
  --amber-day-10: #eeaa00;
  --amber-day-09: #fcb300;
  --amber-day-08: #d0991f;
  --amber-day-07: #e2b156;
  --amber-day-06: #f5c367;
  --amber-day-05: #ffce6a;
  --amber-day-04: #ffdb90;
  --amber-day-03: #ffe6b6;
  --amber-day-02: #f9efdf;
  --amber-day-01: #f5f3f2;
  --green-night-12-a: rgba(188 255 215 / 0.94);
  --green-night-10-a: rgba(39 255 157 / 0.56);
  --green-night-11-a: rgba(119 255 182 / 0.81);
  --green-night-09-a: rgba(68 255 164 / 0.62);
  --green-night-08-a: rgba(91 255 168 / 0.45);
  --green-night-07-a: rgba(88 253 166 / 0.37);
  --green-night-05-a: rgba(60 255 149 / 0.24);
  --green-night-04-a: rgba(34 255 142 / 0.18);
  --green-night-03-a: rgba(53 255 141 / 0.11);
  --green-night-02-a: rgba(41 249 133 / 0.04);
  --green-night-06-a: rgba(79 255 160 / 0.29);
  --green-night-12: #b2f1cb;
  --green-night-01-a: rgba(0 187 0 / 0.01);
  --green-night-11: #63d196;
  --green-night-10: #1d9760;
  --green-night-09: #30a46c;
  --green-night-07: #2b6848;
  --green-night-06: #23573b;
  --green-night-05: #1b4930;
  --green-night-04: #143b27;
  --green-night-08: #327c55;
  --green-night-02: #121b16;
  --green-night-03: #152c1f;
  --green-night-01: #0c130f;
  --green-day-12-a: rgba(0 28 13 / 0.86);
  --green-day-11-a: #007349;
  --green-day-10-a: rgba(0 114 71 / 0.98);
  --green-day-09-a: rgba(0 113 64 / 0.87);
  --green-day-08-a: rgba(1 118 55 / 0.61);
  --green-day-07-a: rgba(1 120 47 / 0.44);
  --green-day-06-a: rgba(1 125 47 / 0.32);
  --green-day-05-a: rgba(4 134 49 / 0.24);
  --green-day-04-a: rgba(2 139 48 / 0.17);
  --green-day-03-a: rgba(1 143 32 / 0.11);
  --green-day-02-a: rgba(31 129 14 / 0.05);
  --green-day-01-a: rgba(101 174 31 / 0.03);
  --green-day-12: #223a2d;
  --green-day-11: #007349;
  --green-day-10: #06754b;
  --green-day-09: #218358;
  --green-day-08: #61a883;
  --green-day-07: #8bbfa1;
  --green-day-06: #a7cfb8;
  --green-day-05: #bcdbc9;
  --green-day-04: #cde4d7;
  --green-day-03: #dcebe2;
  --green-day-02: #ebf0ed;
  --green-day-01: #f2f4f3;
  --red-night-12-a: #ffd2ce;
  --red-night-11-a: #ff8f8b;
  --red-night-10-a: rgba(254 65 75 / 0.83);
  --red-night-09-a: rgba(254 78 84 / 0.89);
  --red-night-08-a: rgba(255 93 94 / 0.69);
  --red-night-07-a: rgba(255 85 85 / 0.52);
  --red-night-06-a: rgba(255 64 66 / 0.41);
  --red-night-05-a: rgba(255 35 44 / 0.34);
  --red-night-04-a: rgba(254 10 25 / 0.27);
  --red-night-03-a: rgba(255 23 23 / 0.18);
  --red-night-02-a: rgba(242 47 32 / 0.07);
  --red-night-01-a: rgba(236 0 0 / 0.03);
  --red-night-12: #ffd2ce;
  --red-night-11: #ff8f8b;
  --red-night-10: #d63941;
  --red-night-09: #e5484d;
  --red-night-08: #b54546;
  --red-night-07: #8c3434;
  --red-night-06: #732425;
  --red-night-05: #61171a;
  --red-night-04: #500f13;
  --red-night-03: #3b1212;
  --red-night-02: #201312;
  --red-night-01: #170f0e;
  --red-day-12-a: rgba(85 1 1 / 0.91);
  --red-day-11-a: rgba(187 1 15 / 0.91);
  --red-day-10-a: rgba(185 1 15 / 0.92);
  --red-day-09-a: rgba(198 1 6 / 0.82);
  --red-day-08-a: rgba(197 18 2 / 0.51);
  --red-day-07-a: rgba(208 23 2 / 0.4);
  --red-day-06-a: rgba(227 27 1 / 0.31);
  --red-day-05-a: rgba(250 38 5 / 0.25);
  --red-day-04-a: rgba(255 164 149 / 0.45);
  --red-day-03-a: rgba(228 48 4 / 0.11);
  --red-day-02-a: rgba(227 70 14 / 0.05);
  --red-day-01-a: rgba(247 151 26 / 0.03);
  --red-day-12: #641818;
  --red-day-11: #c01825;
  --red-day-10: #be1523;
  --red-day-09: #ce2c31;
  --red-day-08: #dd827b;
  --red-day-07: #e79d96;
  --red-day-06: #f0b1ab;
  --red-day-05: #f7c2bc;
  --red-day-04: #fad1cc;
  --red-day-03: #f4e1df;
  --red-day-02: #f5eded;
  --red-day-01: #f6f3f2;
  --neutral-night-12-a: rgba(253 253 255 / 0.94);
  --neutral-night-11-a: rgba(239 240 254 / 0.73);
  --neutral-night-10-a: rgba(227 231 253 / 0.49);
  --neutral-night-09-a: rgba(224 228 253 / 0.44);
  --neutral-night-08-a: rgba(224 227 253 / 0.38);
  --neutral-night-07-a: rgba(218 226 253 / 0.26);
  --neutral-night-06-a: rgba(217 222 252 / 0.2);
  --neutral-night-05-a: rgba(215 221 253 / 0.16);
  --neutral-night-04-a: rgba(209 217 249 / 0.13);
  --neutral-night-03-a: rgba(214 226 249 / 0.09);
  --neutral-night-02-a: rgba(203 203 249 / 0.04);
  --neutral-night-01-a: rgba(17 17 187 / 0.01);
  --neutral-night-12: #eeeef0;
  --neutral-night-11: #b2b3bd;
  --neutral-night-10: #797b86;
  --neutral-night-09: #6c6e79;
  --neutral-night-08: #5f606a;
  --neutral-night-07: #46484f;
  --neutral-night-06: #393a40;
  --neutral-night-05: #303136;
  --neutral-night-04: #292a2e;
  --neutral-night-03: #222325;
  --neutral-night-02: #19191b;
  --neutral-night-01: #111113;
  --neutral-day-12-a: rgba(0 0 4 / 0.87);
  --neutral-day-11-a: rgba(0 0 5 / 0.64);
  --neutral-day-10-a: rgba(0 0 6 / 0.52);
  --neutral-day-09-a: rgba(2 2 7 / 0.48);
  --neutral-day-08-a: rgba(1 1 8 / 0.3);
  --neutral-day-07-a: rgba(1 1 8 / 0.22);
  --neutral-day-06-a: rgba(2 2 12 / 0.17);
  --neutral-day-05-a: rgba(6 6 16 / 0.14);
  --neutral-day-04-a: rgba(1 1 13 / 0.11);
  --neutral-day-03-a: rgba(5 5 35 / 0.07);
  --neutral-day-02-a: rgba(20 20 23 / 0.04);
  --neutral-day-01-a: rgba(76 76 37 / 0.02);
  --neutral-day-12: #202023;
  --neutral-day-11: #58585c;
  --neutral-day-10: #76767a;
  --neutral-day-09: #808084;
  --neutral-day-08: #adadb1;
  --neutral-day-07: #c1c1c5;
  --neutral-day-06: #ccccd0;
  --neutral-day-05: #d4d4d8;
  --neutral-day-04: #dcdce0;
  --neutral-day-03: #e4e4e9;
  --neutral-day-02: #eeeef1;
  --neutral-day-01: #f2f2f4;
  --brand-night-12-a: #d5e2ff;
  --brand-night-11-a: #93b4ff;
  --brand-night-10-a: rgba(85 128 254 / 0.67);
  --brand-night-09-a: rgba(69 113 255 / 0.86);
  --brand-night-08-a: rgba(87 131 255 / 0.68);
  --brand-night-07-a: rgba(84 128 255 / 0.57);
  --brand-night-06-a: rgba(75 122 253 / 0.49);
  --brand-night-05-a: rgba(63 113 253 / 0.42);
  --brand-night-04-a: rgba(53 103 255 / 0.34);
  --brand-night-03-a: rgba(43 100 255 / 0.23);
  --brand-night-02-a: rgba(17 86 249 / 0.09);
  --brand-night-01-a: rgba(0 18 251 / 0.05);
  --brand-night-12: #d5e2ff;
  --brand-night-11: #93b4ff;
  --brand-night-10: #3f5cb0;
  --brand-night-09: #3d63dd;
  --brand-night-08: #405eb2;
  --brand-night-07: #375098;
  --brand-night-06: #2d4484;
  --brand-night-05: #243974;
  --brand-night-04: #1d2e61;
  --brand-night-03: #172448;
  --brand-night-02: #111725;
  --brand-night-01: #0c111c;
  --brand-day-12-a: rgba(0 17 72 / 0.88);
  --brand-day-11-a: rgba(1 36 169 / 0.8);
  --brand-day-10-a: rgba(0 30 156 / 0.84);
  --brand-day-09-a: rgba(1 37 187 / 0.81);
  --brand-day-08-a: rgba(2 58 201 / 0.5);
  --brand-day-07-a: rgba(2 64 212 / 0.37);
  --brand-day-06-a: rgba(1 70 235 / 0.28);
  --brand-day-05-a: rgba(1 71 234 / 0.2);
  --brand-day-04-a: rgba(6 76 221 / 0.14);
  --brand-day-03-a: rgba(4 64 177 / 0.08);
  --brand-day-02-a: rgba(17 68 147 / 0.04);
  --brand-day-01-a: rgba(96 96 49 / 0.02);
  --brand-day-12: #1e2d5d;
  --brand-day-11: #324eb9;
  --brand-day-10: #2841ab;
  --brand-day-09: #304dc7;
  --brand-day-08: #7c98e1;
  --brand-day-07: #9bb2eb;
  --brand-day-06: #b2c5f5;
  --brand-day-05: #c5d3f6;
  --brand-day-04: #d4def5;
  --brand-day-03: #e2e7f3;
  --brand-day-02: #edeff5;
  --brand-day-01: #f3f3f5;
}
