:root {
  /* COLOR THEME */
  --layer-background: #f6f6f9;
  --layer-01: #ffffff;
  --layer-neutral-soft: var(--brand-day-02-a);
  --layer-neutral-soft-hover: var(--brand-day-03-a);
  --border-neutral-soft: var(--neutral-day-04-a);
  --content-primary: var(--neutral-day-12);
  --content-secondary: var(--neutral-day-11-a);
  --content-accent: var(--brand-day-11);
  --content-negative: var(--red-day-11);
  --content-warning: var(--amber-day-11);
  --content-positive: var(--green-day-11);
  --layer-accent-solid: var(--brand-day-09);
  --layer-accent-solid-hover: var(--brand-day-10);
  --layer-negative-solid: var(--red-day-09);
  --layer-warning-solid: var(--amber-day-09);
  --layer-positive-solid: var(--green-day-09);
  --layer-negative-soft: var(--red-day-02-a);
  --layer-warning-soft: var(--amber-day-02-a);
  --layer-positive-soft: var(--green-day-02-a);
  --border-positive-soft: var(--green-day-04-a);
  --border-negative-soft: var(--red-day-04-a);
  --border-warning-soft: var(--amber-day-04-a);
  --border-accent: var(--brand-day-07);
  --border-accent-soft: var(--brand-day-04-a);
  --content-on-accent: #ffffff;
  --content-on-negative: #ffffff;
  --content-on-positive: #ffffff;
  --content-on-warning: var(--neutral-day-12);
  --border-negative: var(--red-day-07);
  --border-warning: var(--amber-day-07);
  --border-positive: var(--green-day-07);
  --content-tertiary: var(--neutral-day-10-a);
  --content-neutral-non-text: var(--neutral-day-08-a);
  --content-accent-non-text: var(--brand-day-08-a);
  --content-negative-non-text: var(--red-day-08-a);
  --content-warning-non-text: var(--amber-day-08-a);
  --content-positive-non-text: var(--green-day-08-a);
  --layer-glass: linear-gradient(
    180deg,
    #f6f6f9 0%,
    rgba(246, 246, 249, 0.2) 100%
  );
}
@media (prefers-color-scheme: dark) {
  :root {
    --layer-glass: linear-gradient(180deg, #111 0%, rgba(17, 17, 17, 0.2) 100%);
    --content-positive-non-text: var(--green-night-08-a);
    --content-warning-non-text: var(--amber-night-08-a);
    --content-negative-non-text: var(--red-night-08-a);
    --content-accent-non-text: var(--brand-night-08-a);
    --content-neutral-non-text: var(--neutral-night-08-a);
    --content-tertiary: var(--neutral-night-10-a);
    --border-positive: var(--green-night-07);
    --border-warning: var(--amber-night-07);
    --border-negative: var(--red-night-07);
    --content-on-warning: var(--neutral-day-12);
    --content-on-positive: #ffffff;
    --content-on-negative: #ffffff;
    --content-on-accent: #ffffff;
    --border-warning-soft: var(--amber-night-04-a);
    --border-negative-soft: var(--red-night-04-a);
    --border-positive-soft: var(--green-night-04-a);
    --border-accent: var(--brand-night-07);
    --border-accent-soft: var(--brand-night-04-a);
    --layer-positive-soft: var(--green-night-02-a);
    --layer-warning-soft: var(--amber-night-02-a);
    --layer-negative-soft: var(--red-night-02-a);
    --layer-positive-solid: var(--green-night-09);
    --layer-warning-solid: var(--amber-night-09);
    --layer-negative-solid: var(--red-night-09);
    --layer-accent-solid: var(--brand-night-09);
    --layer-accent-solid-hover: var(--brand-night-10);
    --content-positive: var(--green-night-11);
    --content-warning: var(--amber-night-11);
    --content-negative: var(--red-night-11);
    --content-accent: var(--brand-night-11);
    --content-secondary: var(--neutral-night-11-a);
    --content-primary: var(--neutral-night-12);
    --border-neutral-soft: var(--neutral-night-04-a);
    --layer-neutral-soft: var(--neutral-night-04-a);
    --layer-neutral-soft-hover: var(--neutral-night-06-a);
    --layer-01: var(--neutral-night-02);
    --layer-background: #111111;
  }
}
