.text-utility {
  font-family: var(--font-inter);
  font-style: normal;
  &.regular {
    font-weight: 400;
  }
  &.medium {
    font-weight: 600;
  }
  &.bold {
    font-weight: 800;
  }
  &.H1 {
    font-size: 3.375rem;
    line-height: 4rem; /* 118.519% */
    letter-spacing: -0.07119rem;
  }
  &.H2 {
    font-size: 2.8125rem;
    line-height: 3.25rem; /* 115.556% */
    letter-spacing: -0.05425rem;
  }
  &.H3 {
    font-size: 2.375rem;
    line-height: 3rem; /* 126.316% */
    letter-spacing: -0.04131rem;
  }
  &.H4 {
    font-size: 2rem;
    line-height: 2.5rem; /* 125% */
    letter-spacing: -0.03rem;
  }
  &.H5 {
    font-size: 1.6875rem;
    line-height: 2.25rem; /* 133.333% */
    letter-spacing: -0.02056rem;
  }
  &.H6 {
    font-size: 1.4375rem;
    line-height: 2rem; /* 139.13% */
    letter-spacing: -0.01306rem;
  }
  &.large {
    font-size: 1.1875rem;
    line-height: 1.75rem; /* 147.368% */
    letter-spacing: -0.00556rem;
  }
  &.body {
    font-size: 1rem;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0rem;
  }
  &.small {
    font-size: 0.8125rem;
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.00563rem;
  }
  &.caption {
    font-size: 0.6875rem;
    line-height: 1rem; /* 145.455% */
    letter-spacing: 0.00938rem;
  }
}

.text-fancy {
  font-family: var(--font-cormorant);
  font-style: italic;
  &.regular {
    font-weight: 300;
  }
  &.medium {
    font-weight: 500;
  }
  &.bold {
    font-weight: 700;
  }
  &.H1 {
    font-size: 4.625rem;
    line-height: 4.75rem; /* 102.703% */
    letter-spacing: -0.09756rem;
  }
  &.H2 {
    font-size: 3.875rem;
    line-height: 4rem; /* 103.226% */
    letter-spacing: -0.07519rem;
  }
  &.H3 {
    font-size: 3.25rem;
    line-height: 3.5rem; /* 107.692% */
    letter-spacing: -0.05625rem;
  }
  &.H4 {
    font-size: 2.75rem;
    line-height: 3rem; /* 109.091% */
    letter-spacing: -0.04125rem;
  }
  &.H5 {
    font-size: 2.3125rem;
    line-height: 2.5rem; /* 108.108% */
    letter-spacing: -0.02819rem;
  }
  &.H6 {
    font-size: 1.9375rem;
    line-height: 2rem; /* 103.226% */
    letter-spacing: -0.01688rem;
  }
  &.large {
    font-size: 1.625rem;
    line-height: 1.75rem; /* 107.692% */
    letter-spacing: -0.0075rem;
  }
  &.body {
    font-size: 1.375rem;
    line-height: 1.5rem; /* 109.091% */
    letter-spacing: 0rem;
  }
  &.small {
    font-size: 1.125rem;
    line-height: 1.25rem; /* 111.111% */
    letter-spacing: 0.00756rem;
  }
  &.caption {
    font-size: 1rem;
    line-height: 1.25rem; /* 125% */
    letter-spacing: 0.01119rem;
  }
}
