.centerizer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page {
  flex-grow: 1;
  max-width: 900px;
  padding: 40px 16px;
  display: grid;
  justify-items: center;
  gap: 40px;
}

.bubble {
  height: 500px;
  border-radius: 50%;
  position: fixed;
  top: -280px;
  left: 0;
  right: 0;
  z-index: -999;
  filter: blur(150px);
  background: var(--brand-day-04);
  @media (prefers-color-scheme: dark) {
    background: var(--brand-night-04);
  }
}

.userblock {
  display: grid;
  justify-items: center;
  gap: 12px;
  position: relative;
}

.usertextblock {
  text-align: center;
}

.username {
  margin-bottom: 8px;
}
.usertag {
  color: var(--content-accent);
}

.usernamefancy {
  position: absolute;
  bottom: -12px;
  z-index: -1;
  color: #7f7f7f;
  text-align: center;
  user-select: none;
  mix-blend-mode: color-burn;
  @media (prefers-color-scheme: dark) {
    mix-blend-mode: color-dodge;
  }
}

.appiconsGrid {
  display: flex;
  max-width: 420px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 4px;
}
